:root {
  --primary: #0D0D0D;
  --highlight: #F4F4F4;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets//fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Range of font weights supported by the variable font */
  font-display: swap;
}
/* font-variation-settings: 'wght' 600; to adjust font weight */
@font-face {
  font-family: 'Raleway';
  src: url('./assets//fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Range of font weights supported by the variable font */
  font-style: italic;
  font-display: swap;
}


body {
  margin: 0;
  font-family: 'Raleway', 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--highlight);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
