:root {
  --primary: #131313;
  --highlight: #F4F4F4;
  --inactive: #6B6B6B;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets//fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Range of font weights supported by the variable font */
  font-display: swap;
}
/* font-variation-settings: 'wght' 600; to adjust font weight */
@font-face {
  font-family: 'Raleway';
  src: url('./assets//fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Range of font weights supported by the variable font */
  font-style: italic;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Raleway', 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--highlight);
}

body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: var(--inactive);
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-variation-settings: 'wght' 500;
}

nav a:hover,
nav .active {
  color: var(--highlight);
}

.project {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
}

.left-half, .right-half {
  width: 50%;
  position: absolute;
  height: 100vh;
}

.left-half {
  left: 0;
}

.right-half {
  right: 0;
}

.full-screen {
  width: 100%;
  position: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen a {
  color: var(--highlight);
  text-decoration: none;
  position: relative;
}

.text-animation-container a:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  height: 0.2rem;
  bottom: 0;
  left: 0;
  background-color: var(--highlight);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.text-animation-container a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.text-animation-container h1 {
  transition: transform 0.5s ease-in-out
}

.up400 {
  transform: translateY(-400%) !important;
}

.slideUp {
  animation: slideUpAnimation 0.5s ease-in-out 0.1s;
}

@keyframes slideUpAnimation {
  0% {
    transform: translateY(400%);
  }
  100% {
    transform: translateY(0);
  }
}

.text-animation-container {
  overflow: hidden;
}

.about {
  z-index: 2;
  background-color: var(--primary);
  min-height: 100vh;
}